<div  class="container_p">
    <form [formGroup]="form" fxLayout="Column">
        <mat-form-field class="example-form-field">
            <mat-label>Ingresa tu E-mail</mat-label>
            <input matInput type="text" formControlName="email">
            <mat-error *ngIf="email?.hasError('required') && (email?.dirty || email?.touched)">
                <p>E-mail no puede estar vacio</p>
            </mat-error>
            <mat-error *ngIf="email?.hasError('email') && (email?.dirty || email?.touched)">
                <p>El E-mail no es valido</p>
            </mat-error>
        </mat-form-field>
    
        <mat-form-field class="example-form-field">
            <mat-label>Ingresa tu contraseña</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'"formControlName="password"> 
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" type="submit" [disabled]="!form.valid">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="password?.invalid && (password?.dirty || password?.touched)">
                <p>Contraseña no puede estar vacio</p>
            </mat-error>
        </mat-form-field>
    
        <button (click)="onLogin()" mat-button>Entrar</button>
        <button mat-button routerLink="/register">¿Eres nuevo? Registrate</button>
    </form>    
</div>