<div fxLayout="row wrap" fxFlex="100">
    <div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="space-between center">
        <div class="redCube" fxFlex="30">
            <p>Caja roja</p>
        </div>
        <div class="greenCube" fxFlex="30">
            <p>Caja verde</p>
        </div>
        <div class="blueCube" fxFlex="30">
            <p>Caja azul</p>
        </div>
    </div>
    <div class="mt-5 col-12 d-flex flex-wrap justify-content-between align-items-center">
        <div class="redCube col-3">
            <p>Caja roja</p>
        </div>
        <div class="greenCube col-3">
            <p>Caja verde</p>
        </div>
        <div class="blueCube col-3">
            <p>Caja azul</p>
        </div>
    </div>
    <div id="contenedor">
        <div class="redCubeCSS">
            <p>Caja roja</p>
        </div>
        <div class="greenCubeCSS">
            <p>Caja verde</p>
        </div>
        <div class="blueCubeCSS">
            <p>Caja azul</p>
        </div>
    </div>
</div>
