body{
    background-color:cornsilk;
}

#contenedor{
    width: 100%;
    flex-flow: row wrap;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor_link
{
    align-items: center;
    justify-items: center;
    display: flex;
    border:2px solid black;
    padding: 1px;
    margin: 5px;
}

.contenedor_text_big
{
    width: 150px;
    height: 40px;
    align-items: center;
    justify-items: center;
    display: flex;
    background-color:red;
    color: darkred;
    font-size: 22px;
    border:2px solid black;
    padding: 1px;
    margin: 5px;
    text-shadow: 1px 1px 1px black;
    text-align: center;
}

.contenedor_text
{
    width: 150px;
    height: 40px;
    align-items: center;
    justify-items: center;
    display: flex;
    background-color:green;
    color: darkgreen;
    font-size: 16px;
    border:2px solid black;
    padding: 1px;
    margin: 5px;
    text-shadow: 1px 1px 1px black;
    text-align: center;
}

.contenedor_text_small
{
    width: 150px;
    height: 40px;
    align-items: center;
    justify-items: center;
    display: flex;
    background-color:blue;
    color: darkblue;
    font-size: 10px;
    border:2px solid black;
    padding: 1px;
    margin: 5px;
    text-shadow: 1px 1px 1px black;
    text-align: center;
}
